{% extends "blog/base.html" %} 
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<div class="content-section">
    <form action="" method='POST'>
        {% csrf_token %}
        <fieldset>
            <legend>Join Today</legend>
            <div class="form-field">
                <label for="username">{{ form.username.label}}</label>
                {{ form.username}}
                {% if form.username.errors %}
                    {{form.username.errors}}
                {% endif %}
            </div>
            <div class="form-field">
                <label for="username">{{ form.password.label}}</label>
                {{ form.password}}
                {% if form.password.errors %}
                    {{form.password.errors}}
                {% endif %}
            </div>
        </fieldset>
        <div class='btn-submit'>
            <button type="submit">Login</button>
        </div>
    </form>
    <hr>
    <span>Need an account? <a href="{% url 'register' %}">Sign Up</a></span>
</div>
{% endblock %}