{% extends "blog/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}


<div class="form-register">

    <form action="" method='POST'>
        {% csrf_token %}
        <fieldset>
            <legend>Join Today</legend>
            <div class="form-field">
                <label for="username">{{ form.username.label}}</label>
                {{ form.username}}
                {% if form.username.errors %}
                    {{form.username.errors}}
                {% endif %}
            </div>
            <div class="form-field">
                <label for="username">{{ form.password1.label}}</label>
                {{ form.password1}}
                {% if form.password1.errors %}
                    {{form.password1.errors}}
                {% endif %}
            </div>
            <div class="form-field">
                <label for="username">{{ form.password2.label}}</label>
                {{ form.password2}}
                {% if form.password2.errors %}
                    {{form.password2.errors}}
                {% endif %}
            </div>
            <div class="form-field">
                <label for="username">{{ form.email.label}}</label>
                {{ form.email}}
                {% if form.email.errors %}
                    {{form.email.errors}}
                {% endif %}
            </div>
            
        </fieldset>
        <div class='btn-submit'>
            <button type="submit">Submit</button>
        </div>
    </form>
    <hr>
    <span>Already have an account? <a href="{% url 'login' %}">Sign In</a></span>

</div>
{% endblock %}