{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main.css'%}"> 
    {% if title %}
    <title>Django blog - {{title}}</title>
    {% else %}
    <title>Django blog</title>
    {% endif %}
</head>

<body>
<header>
    <nav>
        <div class="nav-left">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
        <div class='nav-right'>
            <ul>
                <li><a href="">Register</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="content">

    <div class="center">

        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <div class="card-header-left">
                        <a href="#">{{post.author}}</a>
                    </div>
                    <div class="card-header-right">
                        <p>{{post.date_posted|date:"Y/m/d"}}</p>
                    </div>
                </div>
                <div class="card-top">
                    <h4>{{post.header}}</h4>
                </div>
                <div class="card-main">
                    {{post.content}}
                </div>

            </div>
        {% endfor %}
        

    </div>
</div>
    
</body>
</html>