{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'main.css'%}"> 
    {% if title %}
    <title>Django blog - {{title}}</title>
    {% else %}
    <title>Django blog</title>
    {% endif %}
</head>

<body>
<header>
    
    <nav>
        <div class="nav-left">
            <ul>
                <li><a href="{% url 'blog-home' %}">Home</a></li>
                <li><a href="{% url 'blog-about' %}">About</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class='nav-right'>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="content">
    <div class="center">
        {% if messages %}
            {% for message in messages %}
                <div class="alert-{{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>